// Specific CSS for your home-page
body {
  background: white;
}

.container {
  padding:20px;
  margin: 66px auto;
  width:100%;
}

.index-title {
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.new-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

