// Specific CSS for your home-page
body {
  background: white;
}

.title {
  text-shadow: 1px 1px 4px #000000;
  h1 {
    font-size: 50px;
    color: white;
  }
}

.container {
  padding:20px;
  margin: 66px auto;
  width:1200px;
}

.index-banner {
  height: 200px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;

  h1 {
    color: rgba(0,0,0,0.8);
    font-size: 56px;
  }

  h3 {
    color: rgba(0,0,0,0.5);
    font-size: 24px;
  }
}

.index-title {
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.new-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-background-image {
  background-image: asset-url('home-background.jpg');
  height: 800px;
  background-size: cover;
  opacity: 0.9;
  margin-top: 70px;
}

.explore-container {
  text-align: center;
  padding-top: 5%;
}


