.banner-img > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.detail-box {
  overflow: hidden;
  height: 100px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px;
}

.detail-box h3 {
  color: rgba(0,0,0,0.5)
}

.detail-area {
  position: relative;
}

.detail-box .page-title {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
