.banner-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-top: 70px;
}

.show-page {
}

.detail-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 24px;
}

.photo-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 24px;
}

.detail-box h3 {
  color: rgba(0,0,0,0.5);
  font-size: 1.25rem;
}

.show-title {
  height: 140px;
}

.show-description {
  height: 160px;
}

.show-details {
  height: 150px;
}


.detail-area {
  position: relative;
  h3 {
    font-size: 1.25rem;
  }
}

.show-address-links {
  display: flex;
  justify-content: space-between;
}

.show-name-owner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.show-links a {
  padding-right: 14px;
  color: rgba(0,0,0,0.4);
  &:hover {
      text-decoration: none;
      color: rgba(0,0,0,0.7);
    }
}

.show-new-booking {
  margin: 0 0 50px 0;
}


.show-bookings {
   margin: 0 0 50px 0;
}

.booking-list {
  margin-top: 16px;
}

.booking-list-item {
  display: flex;
  justify-content: space-between;
}
