.banner-img > img {
  height: 270px;
  width: 100%;
  object-fit: cover;
  margin-top: 70px;
  margin-bottom: 10px;
}

.show-page {
  h1 {
    padding: 0;
    margin: 0 0 8px 0;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.7);
  }

  h2 {
    color: rgba(0,0,0,0.6);
    font-size: 1.4rem;
  }

  h3 {
    color: rgba(0,0,0,0.5);
    font-size: 1.25rem;
  }

   h4 {
    color: rgba(0,0,0,0.5);
    font-size: 1.1rem;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  h1 {
    color: rgba(0,0,0,0.3);
  }
  a {
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.detail-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 24px;
}

.map-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  height: 240px;
}

.show-title {
  height: 140px;
}

.show-description {
  height: 160px;
}

.show-details {
  height: 150px;
}


.detail-area {
  position: relative;
  h3 {
    font-size: 1.25rem;
  }
}

.show-address-links {
  display: flex;
  justify-content: space-between;
}

.show-name-owner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.show-links a {
  padding-right: 14px;
  color: rgba(0,0,0,0.4);
  &:hover {
      text-decoration: none;
      color: rgba(0,0,0,0.7);
    }
}

.show-new-booking {
  margin: 0 0 50px 0;
}


.show-bookings {
   margin: 0 0 50px 0;
}

.booking-list {
  margin-top: 16px;
}

.booking-list-item {
  display: flex;
  justify-content: space-between;
}

.review-heading {
  margin-bottom: 32px;
}

.review-title {
  margin-bottom:24px;
}

.review-buttons {
  display:flex;
}

.write-rev-button {
  margin-right: 32px;
}

.display-review {
  margin-top: 24px;
}

.new-review {
  margin-top: 24px;
}
