body {
  font-size: 0.8rem;
}

h1 {
  padding-left: 75px;
}

h2 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}


.container {
  width: auto;
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
}

.spaces-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.bookings-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  border-radius: 10px;
}

.show-container {
  display: flex;
}

.blocker {
  height: 500px;
  background-color: red;
  display: block;
}

.profile-title {
  display: block;
  margin-top: 80px;
}

.show-container {
  display: flex;
}

.profile-card {
  display: block;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 24px;
  margin-right: 20px;
  margin-left: 20px;
}

.space-card {
  display: flex;
  position: relative;
}

.space-photo {
  right: 16px;
  top: -20px;
}

.booking-card {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 0px;
  line-height: 15px;
}

.booking-info {
  // width: 350px;
}

