
<div class="container">

  <h1>New Space</h1>

  <%= render 'form', task: @space %>

  <div class="back-link-section">
    <%= link_to "< Back", spaces_path, {class: "back-link"} %>
  </div>

</div>
