<div>
  <div class="container-background-image">
    <div class="explore-container">
       <h1 class="title">AirParty</h1>
         <%= link_to "Explore", spaces_path, class: "btn btn-ghost" %>
    </div>
   </div>
  </div>


