<div>
  <div class="container-background-image">
    <div class="explore-container title">
      <h1>AirParty</h1>
      <h1>The right place for the right party</h1>
      <%= link_to "Explore", spaces_path, class: "btn btn-ghost" %>
    </div>
   </div>
  </div>


