<div>
  <div class="container-background-image">
    <div class="explore-container title">
      <h1>AirParty</h1>
      <h4>Find the right place for your party</h4>
      <%= link_to "EXPLORE", spaces_path, class: "btn btn-ghost" %>
    </div>
   </div>
  </div>


