

h1 {
 padding:20px;

}


.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px !important;
}

.navbar-nav li {
  margin-left: 16px;
}

.shrink-logo {
  width: 50px;
}
